---
title: "DT"
format: pdf
---

In [31]:
#import sys
#print(sys.executable)

In [32]:
#import sys
#!{sys.executable} -m pip install pandas

In [33]:
#import sys
#!{sys.executable} -m pip install matplotlib

In [34]:
#import sys
#!{sys.executable} -m pip install seaborn

In [35]:
#import sys
#!{sys.executable} -m pip install scikit-learn

In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error, confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor, plot_tree

In [37]:
cs = pd.read_csv('https://raw.githubusercontent.com/PratheepaJ/datasets/master/Carseats.csv')

cs.info()
cs.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
 11  High         400 non-null    object
dtypes: float64(1), int64(7), object(4)
memory usage: 37.6+ KB

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,High
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes,No
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No,No

Convert categories onto dummy vatiables

In [38]:
cat = ['ShelveLoc', 'Urban', 'US']
cs = pd.get_dummies(cs,columns=cat)

In [39]:
cs.head(5)

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,High,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,9.50,138,73,11,276,120,42,17,Yes,True,False,False,False,True,False,True
1,11.22,111,48,16,260,83,65,10,Yes,False,True,False,False,True,False,True
2,10.06,113,35,10,269,80,59,12,Yes,False,False,True,False,True,False,True
3,7.40,117,100,4,466,97,55,14,No,False,False,True,False,True,False,True
4,4.15,141,64,3,340,128,38,13,No,True,False,False,False,True,True,False

最后收尾 terminal里输入会变

[Github link](https://github.com/dail9/3da-assignment6/tree/main)

或者具体的
[Github link](https://github.com/dail9/3da-assignment6/blob/main/dt_examples.ipynb)